*{
    box-sizing: border-box;
}

.location-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 130px;
    background-color: rgb(250, 250, 250);
    gap: 30px;
}

.loc-information{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    overflow: hidden;
}
.loc-img-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
}
.loc-img-wrapper img{
    height: 350px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.loc-info-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 20px;
    margin-left: 50px;
}
.loc-info-wrapper p,h1,h2{
    margin: 0 0 15px;
}
.loc-city{
    font-size: 50px;
    color: white;
}
.loc-country{
    color: white;
    font-size: 20px;
}
.loc-rating{
    color: white;
    background-color: rgba(92, 87, 87, 0.8);
    padding: 5px;
    border-radius: 10px;
}
.loc-img-wrapper::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;

    background: radial-gradient(
        circle,
        rgba(0, 0, 0, 0) 40%,    /* centar providan */
        rgba(0, 0, 0, 0.4) 100% /* tamnije ivice */
    );
}

.about-location{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 500px;
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    gap: 10px;
}
.left-side-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 6px 20px rgb(73, 73, 73);
}
.loc-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 250px;
    padding: 10px;
    border-radius: 20px;
}
.loc-details p {
    font-size: large;
}
.same-city-recommended-loc{
     display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
}
.same-city-recommended-loc p {
    font-weight: 600;
    color: rgb(63, 63, 62);
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out , color 0.3s ease-in-out;
    width: 100%;
}
.same-city-recommended-loc p:hover{
    color: rgb(185, 185, 185);
    transform: translateY(-6px);
}


.right-side-info{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 6px 20px rgb(78, 78, 78);
    width: 30%;
    padding: 20px;
}
.loc-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgb(194, 194, 194);
}
.similar-locations{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 400px;
    width: 80%;
    gap: 25px;
}
.similar-loc{
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 252, 252);
    height: 300px;
    width: 300px;
    border-radius: 20px;
    gap: 10px;
    overflow: hidden;
    box-shadow: 1px 3px 10px rgb(206, 205, 205);
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.similar-loc p {
    font-weight: 600;
    margin: 0 10px 5px;
}
.similar-loc img{
    height: 170px;
    width: 100%;
    object-fit: cover;
}
.similar-loc:hover{
    transform: translateY(-6px);
    box-shadow: 1px 3px 10px rgb(107, 106, 106);
}
