* {
  box-sizing: border-box;
}
.explore-page{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 130px;
}
.welcome-img{
    position: relative;
    width: 80%;
    border-radius: 20px;
}
.search-page{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 80%;
    border-radius: 20px;
    gap: 10px;
    top: 0px;
}
.search-page h2{
    color: white;
}
.search-page input{
    border: none;
    height: 50px;
    width: 300px;
    border-radius: 10px;
}
.inputs{
    display: flex;
    gap: 5px;
}
.inputs button, select{
    background-color: white;
    border: none;
    height: 35px;
    width: 70px;
    border-radius: 10px;
    cursor: pointer;
}
.search-filters{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.search-filters select{
    border: none;
    border-radius: 10px;
    height: 30px;
    text-align: center;
}
.trending-locations{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    width: 80%;
}
.trending-locations h2{
    font-size: 35px;
    color: #181818;
}
.locations{
   display: flex;
   align-items: center;
   justify-content: flex-start;
   height: 500px;
   gap: 10px;
   width: 100%;
   overflow-x: auto;
   padding: 20px;
}

.location {
    position: relative;
    height: 400px;
    width: 350px;
    flex-shrink: 0;
    box-shadow: 1px 1px 6px rgb(206, 205, 205);
    border-radius: 20px;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.location:hover{
    transform: translateY(-6px);
    box-shadow: 0px 8px 25px rgb(119, 119, 121);
    cursor: pointer;
}
.img-wrapper{
    height: 75%;
    width: 100%;
}
.img-wrapper img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.loc-badge{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 10px;
    color: white;
}
.trending-badge{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #ff6b6b, #fbbf24);
    padding: 5px;
    width: 90px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 12px;
    margin-left: 20px;
}
.liked-badge{
    margin-right: 20px;
    background: linear-gradient(135deg, #ff6b6b, #fbbf24);
    height: 30px;
    border-radius: 50%;
    font-size: 30px;
    padding: 5px;
    transition: transform 0.3s ease-in-out;
}
.liked-badge:hover{
    transform: scale(1.3);
}
.overlay{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 100px;
    margin-left: 20px;

    
}
.city{
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.overlay p{
    margin: 0 0 10px;
}
.country{
    color: white;
    font-weight: 400;
    font-size: 15px;
}
.about-city{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin-top: 10px;
}
.about-city p{
    word-wrap: break-word; 
    color: #4b5563;
    font-size: 13px;
    font-weight: 600;
    text-wrap: wrap; /* razbije dugačke riječi ako treba */
    margin: 0 8px 15px;
}
.rating{
    display: flex;
}
.rating p {
    margin: 0 0 10;
}


@media (max-width: 600px) {
  /* phone styles */
    .welcome-img {
        object-fit: fill;
        height: 150px;
        width: 100%;
    }
 .trending-locations{
   margin-top: 100px;
}
.location{
    width: 300px;
}
  .locations{
    height: 500px;
    flex-direction: column;
    padding: 48px;
  }
}