.footer {
  background: #f9f9f9;
  padding: 60px 0;
  border-top: 1px solid #eee;
}

.footer-container {
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  padding:20px;
  box-shadow: 1px 1px 20px rgb(116, 115, 115);
  border-radius: 20px;
}

.logo-footer {
  font-size: 24px;
  font-weight: bold;
}

.footer-left {
  flex: 1;
  min-width: 250px;
}

.footer-text {
  max-width: 300px;
  margin: 15px 0;
  color: #555;
}

.footer-socials span {
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.footer-links {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.footer-links h4 {
  margin-bottom: 15px;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}

.footer-links a {
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
  transition: 0.2s;
}

.footer-links a:hover {
  color: #0066ff;
}

.footer-newsletter {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
}

.footer-newsletter input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 10px;
}

.footer-newsletter button {
  padding: 12px;
  border: none;
  background: #0066ff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.footer-newsletter button:hover {
  background: #004bcc;
}

.footer-copy {
  text-align: center;
  margin-top: 40px;
  color: #777;
}
