body{
    background: #f9f9f9;
}

.auth-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    padding: 48px;
}



.signin-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: 700px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    gap: 30px;
    border-radius: 20px;
    border: 1px solid rgb(226, 226, 226);
}

.signin-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signin-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    background: linear-gradient(135deg, rgb(59, 130, 246) 0%, rgb(147, 51, 234) 100%);
    font-size: 40px;
    border-radius: 20px;
}
.signin-container h2{
    font-size: 30px;
    margin: 0;
}

.inputs-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 30px;
}
.inputs-container input{
    height: 30px;
    border: 1px solid rgb(212, 211, 211);
    border-radius: 5px;
}
.input-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.auth-options{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}

.remember-me{
    display: flex;
    align-items: center;
}
.buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.signin-button{
    background: linear-gradient(135deg, rgb(59, 130, 246) 0%, rgb(147, 51, 234) 100%);
    border: none;
    height: 50px;
    width: 100%;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.signup-button{
    background: linear-gradient(135deg, rgb(233, 236, 4) 0%, rgb(234, 51, 219) 100%);
    border: none;
    height: 50px;
    width: 100%;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.signin-button:hover,.signup-button:hover{
    transform:translateY(-6px)
}
.divider {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #dcdcdc;
}

.divider span {
  padding: 0 12px;
  font-size: 14px;
  color: #777;
}
