*{
    box-sizing: border-box;
}

.reviews-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
}
.about-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.about-section button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: rgb(59, 130, 246);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    gap: 5px;
    width: 130px;
}

.about-section button:hover{
        background-color: rgb(14, 92, 218);
}
.reviews{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    gap: 30px;
    width: 80%;
}
.review{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 1px 1px 10px rgb(180, 178, 178);
    border-radius: 20px;
    padding: 20px;
}
.user-info{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}
.user-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 24%, rgba(0, 212, 255, 1) 100%);
    height: 60px;
    width: 60px;
    color: white;
    border-radius: 20px;
}
.rating-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.comment-info{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.comment-info p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 150px;
    background-color: rgb(248, 247, 247);
    border: 1px solid rgb(214, 213, 213);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.comment-info p:hover{
    background-color: rgb(236, 234, 234);
}

@media (max-width: 600px) {
    /* phone styles */
    .reviews{
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 48px;
    }
    .review {
        width: 300px;
    }
    .comment-info p {
        width: 100px;
    }
    
}